<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUser</servlet-name>
        <servlet-class>controller.ProfileUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validator</servlet-name>
        <servlet-class>controller.Validator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProject</servlet-name>
        <servlet-class>controller.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DependentList</servlet-name>
        <servlet-class>controller.DependentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeWorkServlet</servlet-name>
        <servlet-class>controller.TimeWorkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUser</servlet-name>
        <url-pattern>/ProfileUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validator</servlet-name>
        <url-pattern>/Validator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProject</servlet-name>
        <url-pattern>/MyProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DependentList</servlet-name>
        <url-pattern>/DependentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeWorkServlet</servlet-name>
        <url-pattern>/TimeWorkServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
